header {
    margin: 2rem auto;
    text-align: center;
}

h1 {
    font-size: clamp(2rem, 5vw, 3rem);
}

main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

@media screen and (min-width: 768px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    main > * {
        min-width: 0;
    }
}

section {
    background-color: var(--clr-black-secondary);
    padding: 2rem;
    border: 1px solid var(--clr-action-main);
    border-radius: 8px;
}
