.info-section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

.info-section > h2 {
    font-size: 2rem;
}

.email-number {
    display: flex;
    gap: 0.5rem;
}

.work-experience, .education {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem auto;
}

.section-title {
    font-size: 1.5rem;
    text-decoration: underline;
}

.section-subtitle {
    font-size: 1.2rem;
    text-decoration: underline;
}

.section-minititle {
    font-size: 1.1rem;
}

.dates {
    display: flex;
    gap: 1rem;
}

.description {
    word-wrap: break-word;
}