.form-element {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.in-form-title, .form-title {
    font-size: 1.3rem;
    text-decoration: underline;
}

.form-title {
    margin-bottom: 1rem;
}

/* Input elements */

.input-group {
    position: relative;
    width: 100%;
}
   
.input {
    border: solid 1.5px var(--clr-text-secondary);
    border-radius: 8px;
    padding: 1rem;
    font-size: 1rem;
    color: var(--clr-action-main);
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
    width: 100%;
    background-color: transparent;
}

.user-label {
    position: absolute;
    left: 15px;
    color: var(--clr-text-secondary);
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms linear;
}

.focused:focus, .focused:valid {
    outline: none;
    border: 1.5px solid var(--clr-action-main);
}

.focused:focus ~ label, .focused:valid ~ label {
    transform: translate(-8%, 2%) scale(0.8);
    color: var(--clr-action-main);
}

/* Buttons */

.submit-reset {
    align-self: flex-end;
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.btn-color, .btn-light {
    width: 8rem;
}

.btn-color {
    display: inline-block;
    outline: none;
    cursor: pointer;
    line-height: 20px;
    font-weight: 700;
    border-radius: 8px;
    padding: 0.875em 1.5em;
    border: none;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    background: linear-gradient(to right, rgba(111,64,194,1) 0%, rgba(103,58,183,1) 50%, rgba(96,54,170,1) 100%);
    color: var(--clr-text-main);
}

.btn-color:is(:hover, :focus) {
    filter: brightness(90%);
}

.btn-color:active, .btn-light:active {
    transform: scaleX(0.5);
}

.btn-light {
    display: inline-block;
    outline: none;
    cursor: pointer;
    line-height: 20px;
    font-weight: 700;
    border-radius: 8px;
    padding: 0.8125em 1.4375em;
    border: 1px solid var(--clr-action-secondary);
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    background: transparent;
    color: var(--clr-action-secondary);
}

.btn-light:is(:hover, :focus) {
    background: var(--clr-black-focus);
}

.add-new, .remove {
    position: absolute;
    top: 0;
    text-align: center;
    color: var(--clr-text-main);
    font-weight: 700;
    border: transparent;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

.add-new {
    background-color: var(--clr-action-good);
    left: 45%;
    transform: translate(-45%);
}

.remove {
    background-color: var(--clr-action-bad);
    left: 55%;
    transform: translate(-55%);
}